div{
    width:400px;
    height:200px;
    background-color:lightpink;
    margin:10px auto;
    background-image:url("lily.webp");
    /* background-size:contain; repeats the image */
    /* background-size:cover; it crops the image ******most used********/
    background-size:auto; /*it streches or scales the image*/
    font-size:50px;
    font-weight:bold;
    color:hotpink;
}