h1{
    text-align:center;
    font-family:arial,copperplate,papyrus;
    line-height: 2.5;
    letter-spacing: 5px;
    font-size:50px;
    font-weight: 900;
    text-decoration:red wavy underline;
    color:blue;
    background-color: wheat;
}
h2{
    text-align:right;
    font-weight:bolder;
    text-decoration:pink wavy overline;
    font-size:25px;
    font-family:impact;
}
p{
    text-align:justify;
    text-decoration:grey dashed underline;
    line-height:2.5;
    letter-spacing:normal;
    font-size:15px;
    font-family:papyrus;
}
h3{
    text-align:left;
    text-decoration:green double line-through;
}
a{
    text-decoration:none;
    font-family: copperplate;
}